body{
    background-color: blanchedalmond;
    text-align: center;
    font-family: 'Trebuchet MS';

}

img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

#LinkedIn{
    color:black;
    text-decoration: none;
    font-size: 20px;
    background-color:cornflowerblue;
}

#Pessoal{
    color:black;
    font-size: 20px;
    background-color:darkmagenta;
}

#GitHub{
    color:black;
    font-size: 20px;
    background-color:darkcyan;
}

button{
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}